@charset "UTF-8";


ul.pagination1 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination1 li {display: inline;}

ul.pagination1 li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 30px;
}

ul.pagination1 li a.active {
    background-color: rgb(46,46,49);
    color: white;
    border-radius: 30px;
}

ul.pagination1 li a:hover:not(.active) {background-color: c0c0c0;}

.btn-search{
	color: white;
	margin: auto;
	border: none;
	background-color: transparent;
	
}
.search-img{
	width: 20px;
	height: 20px;
	margin-top: 8px;
}

.a-btn{
	color : white;
	background-color: rgb(46,46,49); 
	text-decoration: none;
	padding: 8px;
	border-radius: 7px;
	
}
.a-btn:hover{
	color: white;
}






